.footer {
  text-align: center;
  padding: 12px 2px;
  color: #666;
  font-size: 0.875rem;
  margin-top: 1rem;
  border-top: 1px solid #00ffe0;
  padding-bottom: 2%;
}

.bottom {
  padding-top: 20px;
}
